* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.welcome {
	height: 100vh;
	width: 100vw;
	padding: 6rem 12rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.35)), url("./hero-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-text {
	color: white;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 6rem;
	font-weight: 600;
	max-width: 15ch;
}

.highlight {
	background: linear-gradient(90deg, rgb(45, 79, 158), rgb(45, 79, 158));
	background-repeat: no-repeat;
	background-size: 100% 20%;
	background-position: 50% 80%;
}

@media screen and (max-width: 1200px) {
	.hero-text {
		font-size: 5rem;
		max-width: 13ch;
	}

	.welcome {
		padding: 6rem 4rem;
	}
}

@media screen and (max-width: 950px) {
	.welcome {
		padding: 6rem 2rem;
	}
}
